/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Open+Sans&family=Poppins:ital,wght@0,400;1,500&display=swap');

/* common style */
body{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conatiner{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
.single-players img{
    width: 56px;
    height: 56px;
}
.single-players{
    display: flex;
    align-items: center;
}



/* top blogs  styles*/
.blog .thumbnail img{
    height: 117px;
    width: 177px;

}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;

}
.blog-title{
    font-size: 20px;

}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Course style */
.main-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course-banner img{
    Width:224px;
    Height:104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: .50;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius:  14.69px;
    height: 29.382596969604492px;
    width: 94.82565307617188px;
    display: flex;
    justify-content: center;
    align-items: center;


}